




.valign-wrapper {
   height: 100vh;  
   height: 100vh;
}



#toast-container {
    top: unset;
    bottom: 10%;
}


nav .nav-wrapper {
    display:flex;
    
}



.menu-icono{
    display:flex;
    margin-left: 18px;
    margin-right: 18px;
}


.collapsible li.active{

    background:  red;
}


.collapsible-body{

    margin-left: 0px;

}





@media only screen and (min-width: 900px){
    nav a.sidenav-trigger {
        display: block;
    }
}




/*
@media only screen and (min-width: 601px)
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 6vh;
    line-height: 6vh;
}
*/

