



          <ul class="collapsible teal lighten">

            <li>
              <div class="collapsible-header"  id="segundo">
                Nivel 01
              </div>
              <div class="collapsible-body">

                <ul class="collapsible teal lighten">

                    <li>
                      <div class="collapsible-header" id="primero">
                        <div class="padl20">nivel 01 01</div>                          
                      </div>
                      <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                      </div>
                    </li>

                    <li>
                      <div class="collapsible-header">
                        <div  class="padl20">nivel 01 02</div>                        
                      </div>
                      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                      <div class="collapsible-header">
                        <div  class="padl20">nivel 01 03</div>                        
                      </div>

                      <div class="collapsible-body">
                        
                      <div class="sidenav-link padl20">
                          <a href="javascript:void(0);" class="block">
                            primer Link                            
                          </a>
                        </div>  



                        <div class="sidenav-link padl20">

                            <a href="javascript:void(0);">
                              Second Link
                            </a>                        

                        </div>  


                      </div>
                    </li>                    


                </ul>

              </div>
            </li>
            
            <li>
              <div class="collapsible-header">
                Nivel 02
              </div>
              <div class="collapsible-body">

              </div>
            </li>

            
          </ul>



